@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.header-area{
    background-image: url(https://framerusercontent.com/images/1CDVwd4wVakgL3rlREW1uk8vz8o.jpg?scale-down-to=2048);
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.header-area::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: -1;
}
.nav-area{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #2e2e2e;
}
.nav-area h5{
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    margin: 20px 0 0px 40px;
}
.nav-area nav{
    display: flex;
}
.nav-area nav ul{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    cursor: pointer;
}
.nav-area nav ul li{
    padding: 15px 32px;
    /* height: 30px;
    width:72px; */
    list-style-type: none;
    border: 1px solid #2e2e2e;
    color: #fff;
}
.nav-area nav ul li:hover{
    background-color: 
    #0d0d0d;
    transition: .5;
}
.nav-area nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.nav button{
    width:105px;
    height: 43px;
    margin: 11px 30px;
    border: 2px solid  #f57f01;
    outline: 0;
    background: transparent;
    color: #f57f01;
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}
.nav button:hover{
    background: #2e2e2e;
}
.header{
    position: absolute;
    top: 22%;
    left:7%;
}
.header h1{
    font-size: 64px;
    color: #fff;
    font-weight: 900;
    font-style: italic;
} 
.header p{
    font-size: 16px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    margin: 20px 0 25px;
    font-family: "Roboto", sans-serif;
}
.btn-1{
    width:120px;
    height: 45px;
    background-color: #f57f01;
    color: #fff;
    border: 0;
    outline: 0;
    margin-bottom: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.btn-2{
    width:130px;
    height: 45px;
    background-color: #fff;
    color: #fff;
    border: 0;
    outline: 0;
    margin-bottom: 20px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}
.header hr{
    color: #f57f01;
    border: 2px solid #f57f01;
}

/* header-area-end */

.section-area{
    width: 100%;
    height: 700px;
    background-color: #1a1a1a;
    display: flex;
}
.section{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    column-gap: 20px;
    
}
.section-1{
    flex-basis: 45%;
    /* margin-top: 50px; */
    padding-left: 80px;

}
.section-1 h6{
    color: #f57f01;
    font-weight: 500;
    font-size: 18px;
}
.section-1 h1{
    color: #fff;
    font-size: 42px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 900;
    margin: 10px 0 20px;
}
.section-1 p{
    color: #a3a3a3;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
.section-1 button{
    width: 100px;
    height: 45px;
    background-color:  #e8e8e8;
    color:#000;
    font-weight: bold;
    font-size: 16px;
}

.section-2{
    flex-basis: 40%;
}
.section-2 img{
    width: 100%;
    max-width:850px ;
    height: 100%;
    max-height: 500px;
    margin-left:120px;
}

/* performance-area-start */
.performence-area{
    height: 400px;
    background-color: #2e2e2e;
    text-align: center;
    color: #fff;
}
.performence-area h1{
    padding-top: 60px;
    font-size: 55px;
    font-style: italic;
    font-family: "Roboto", sans-serif;
}
.performance{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin: 40px auto;
    /* column-gap: 10px; */
    /* flex-direction: column; */
}
.performance h6{
    font-size: 24px;
    padding: 10px 0 12px;
}
.performance p{
    font-size: 18px;
}
.perform-1 svg{
    width: 60px;
    color: #f57f01;
}
.perform-2 svg{
    width: 60px;
    color: #f57f01;
}
.perform-3 svg{
    width: 60px;
    color: #f57f01;
}
.perform-4 svg{
    width: 60px;
    color: #f57f01;
}
.perform-1{
    flex-basis: 25%;
    padding: 0 40px;
}
.perform-2{
    flex-basis: 25%;
    padding: 0 40px;
}
.perform-3{
    flex-basis: 25%;
    padding: 0 40px;
}
.perform-4{
    flex-basis: 25%;
    padding: 0 40px;
}

.services-area{
    background-color: #1a1a1a;
    /* height: 100vh; */
    width: 100%;
}
.services{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.services-1{
    flex-basis: 33%;
    padding-top: 200px;
}
.services-1 h3{
    color: #f57f01;
    font-size: 18px;
    padding: 10px 20px 0px;

}
.services-1 h1{
    color: #fff;
    font-size: 58px;
    font-weight: 900;
    font-style: italic;
    padding: 10px 20px 5px;
}
.services-1 p{
    color:#9d9d9d;
    font-size: 18px;
    padding: 15px 20px 20px;
}
.services-1 button{
    padding: 15px 20px;
    margin: 10px 20px 10px;
    color: #000;
    background: #f57f01;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}



.services-2{
    flex-basis: 67%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 50px;
    gap: 20px;
    /* background-color: #f57f01; */
}
.services-3{
    position: relative;
    /* z-index: 1; */
    margin-bottom: 10px;
    margin-right: 10px;
}
.services-top{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #000;
    opacity: .8;
    z-index: 99;
}
.services-3  img {
    width: 400px;
    height: 350px;
}
.services-top h2{
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;

}
.services-top p{
    color: #fff;
    padding-top:10px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
}


/* articles-area-start */

.articles-area{
    background-color: #1a1a1a;
    padding: 20px 0 50px;
}
.articles-area h5{
    padding-left: 170px;
    color: #f57f01;
    font-size: 18px;
    padding-bottom: 10px;
}
.articles-area h1{
    color: #fff;
    font-size: 43px;
    font-style: italic;
    padding-left: 170px;
    padding-bottom: 70px;
    font-weight: 900;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    
}
.articles-1{
    flex-basis: 35%;
    margin-right: 30px;
}
.articles-2{
    flex-basis: 35%;
    margin-right: 30px;
}
.articles-3{
    flex-basis: 20%;
    width: 460px;
    
}
.card {
    width: 470px;
    height: 670px;
    border: 3px solid  #373737;
    margin-bottom: 20px;
}
.card img{
    width: 100%;
    height:400px;
}
.card  h2{
    color: #f57f01;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 30px;
    padding-top: 50px;
}
.card  p{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 10px;
}
.card  span{
    display: block;
    color: #ababab;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.card  a{
    color: #f57f01;
    text-decoration: none;
    font-style: italic;
    font-size: 18px;
    padding-left: 30px;
    padding-top: 20px;
    display: block;
}
.article-title{
    width: 300px;
    height: 223px;
    /* border-bottom: 2px solid #373737; */
    /* background-color: #f57f01; */
    margin-bottom: 10px;
}
.article-title h2{
    color: #f57f01;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 30px;
    padding-top: 5px;
}
.article-title p{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 10px;
}
.article-title span{
    display: block;
    color: #ababab;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.article-title a{
    color: #f57f01;
    text-decoration: none;
    font-style: italic;
    font-size: 18px;
    padding-left: 30px;
    padding-top: 10px;
    display: block;
}
.article-title hr{
    width: 247px;
    margin: 15px auto 0px;
}

/* admit-area */


.admit-area{
    background-image: url(https://framerusercontent.com/images/z8sILqvZkueFr4wS9ZtK3Kk7tpo.jpg?scale-down-to=2048);
    height:450px;
    background-position: center;
    background-size: cover;
   position: relative;
   z-index: 1;
}
.admit-area::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    z-index: -1;
}
.admit{
    display:flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}
.admit-1{
    flex-basis: 60%;
    padding-top: 120px;
}
.admit-1 h1{
    color: #fff;
    font-style: italic;
    font-size: 48px;
}
.admit-1 span{
    font-size: 48px;
    color: #f57f01;
    font-weight: bold;
}
.admit-btn-1{
    padding: 15px 30px;
    background-color: #f57f01;
    margin-top: 20px;
    margin-right: 20px;
}
.admit-btn-2{
    padding: 15px 30px;
    background-color:#e8e8e8 ;
    margin-top: 20px;

}
.admit-2{
    flex-basis: 40%;

}

/* ADMISSION-AREA-START */


.admission-area{
    background-color: #1a1a1a;
    height:1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.admission-area p{
   font-size: 16px;
   line-height: 19px;
   color: #f57f01;
   font-weight: bold;
   padding-top: 30px;
}
.admission-area .admission-heading{
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    padding-bottom: 60px;
}
.admission{
    width:80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* background: #f57f01; */
    column-gap: 25px;
     display: flex;
    justify-content: center;
    align-items: center;
}
.admission-1{
    flex-basis: 30%;
    border: 4px solid #343434;
    height: 700px;
    background: #2e2e2e;
    
}

.admission-top{
    padding: 30px 30px;
    border-bottom: 4px solid #343434;
}
.admission-top h1{
    color: #ffff;
}
.admission-top span{
    color: #f57f01;
    font-size: 48px;
    font-weight: bold;
}
.admission-top h3{
    padding-top: 25px;
    color: #f57f01;
}
.admission-top p{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
}
.check{
    padding: 20px 40px 20px;
}
.check h3{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}
.check ul li{
    color: #fff;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
}
.check ul li svg{
    width: 30px;
    color: #f57f01;
    font-weight: blod;
    margin-right:15px;
}
.check-1{
    padding: 10px 40px 10px;
}
.check-1 h3{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
}
.check-1 ul li{
    color: #fff;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.check-1 ul li svg{
    width: 30px;
    color: #f57f01;
    font-weight: blod;
    margin-right:15px;
}
.admission-1 button{
    width: 350px;
    height: 50px;
    background-color:#f57f01 ;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

/* member-area-start */

.member-area{
    background-color: #1a1a1a;
    height: 700px;
}
.member-2{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 70px auto 0;
    column-gap: 25px;
}
.member-2 button{
    width: 180px;
    height: 47px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 50px auto;
    transition: .5s;
}
.member-2 button:hover{
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    outline: 0;
}
.members{
    flex-basis: 23%;
    width: 180px;
    height: 370px;
    border: 3px solid #343434;
    color: #fff;
    letter-spacing: 2px;
    word-spacing: 2px;
}
.member-1{
    text-align: center;
}
.member-1 h5{
    color: #f57f01;
    font-size: 20px;
}
.member-1 h1{
    color: #fff;
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
}
.members P{
    font-size: 16px;
    padding:0px 23px 80px 23px;
    line-height: 24px;
}
.members h2{
    padding-left: 23px;
    font-size: 16px;
    line-height: 24px;
}


.member-icon{
    margin: 30px 20px 30px 20px;
    /* justify-content: center; */

}
.member-icon i{
    color: #f57f01;
    font-size: 28px;
    padding-right:5px;
}

.newsletter-area{
    display: flex;
    flex-wrap: wrap;
    height: 350px;
}
.newsletter{

}
.newsletter-1 {
    flex-basis: 50%;
    background-color: #2e2e2e;
    /* padding: 50px 80px 0px 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-1 h5{
    color: #f57f01;
    font-size: 20px;
    /* padding-left: 80px; */
}
.newsletter-1 h1{
    font-size: 40px;
    color: #fff;
    font-weight: 900;
    font-style: italic;
    padding:10px 0 30px;
}
.newsletter-1 p{
    color: #605e5e;
    font-size: 20px;
    padding-bottom: 15px;
    ;
}
.newsletter input{
    width: 430px;
    height: 70px;
    margin-top: 20px;
    margin-right: 10px;
    border: 0;
    outline: 0;
    padding-left: 20px;
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 600;
}
.newsletter button{
    width: 150px;
    height: 72px;
    border: 0;
    outline: 0;
    color: #0d0d0d;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.newsletter-2 {
    flex-basis: 50%;
    background-image: url(https://framerusercontent.com/images/jQ7iDi5SCrf1zp9nXN6F71sK70.jpg?scale-down-to=2048);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 200px; */
    position: relative;
}
.newsletter-2::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: #000;
    opacity: .2;
}